<html lang="ru-RU"><head>
  <base href="https://займ-за-минуту.рф/">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00a0d5">
      <meta name="msapplication-TileColor" content="#fcf0be">
      <meta name="msapplication-TileImage" content="/mstile-144x144.png">
      <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="/og-image.jpg">
    <meta property="og:image:width" content="1000">
    <meta property="og:image:height" content="524">
    <meta property="og:url" content="https://займ-за-минуту.рф">
    <meta property="og:title" content="Займ за минуту">
    <meta property="og:description" content="Займ-за-минуту.рф — сервис подбора займов">

  </script>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <meta name="csrf-param" content="_csrf-frontend">
      <meta name="csrf-token" content="jLQEws81uElyOQgbuZ93i6w9KpodOJTNhd9ZTWjydMXC41WX_UDzKEBAbmLX9wDO80169noNwaTqiTgOCaY5qw==">
      <title>Займ-за-минуту.рф - сервис подбора займов</title>
      <meta name="description" content="Онлайн заявка на займ. • Сумма от 5 000 до 30 000 руб. • Ставка от 0% годовых. • От Вас только паспорт! • Принятие решения круглосуточно.">
      <meta name="keywords" content="Займ-за-минуту.рф, онлайн займы, кредит наличными, кредитные карты, карты рассрочки">
  <link href="static_files/font-awesome.css" rel="stylesheet">
  <link href="static_files/bootstrap.css" rel="stylesheet">
  <link href="static_files/jquery.css" rel="stylesheet">


      <meta name="yandex-verification" content="f614dca14d3aebcb">
  <style>
    a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details,
  dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe,
  img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span,
  strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

  html {
    font-size: 100.01%;
    overflow-y: scroll;
    background-color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    height: 100%; }

  body {
    text-align: left;
    font-size: 75%;
    height: 100%; }

  ol, ul {
    list-style: none; }

  li {
    display: list-item; }

  blockquote, q {
    quotes: none; }

  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

  sub, sup, small {
    font-size: 75%; }

  sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

  sub {
    bottom: -0.25em; }

  sup {
    top: -0.5em; }

  svg {
    overflow: hidden; }

  ins {
    text-decoration: none; }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
    border: none; }

  th, td, caption {
    font-weight: normal;
    vertical-align: top;
    text-align: left; }

  font {
    color: inherit !important;
    font: inherit !important; }

  address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {
    font: inherit; }

  option {
    width: 100%; }

  :focus {
    outline: 0; }

  strong, b, th, thead, tfoot, h1, h2, h3, h4, h5, h6 {
    font-weight: bold; }

  cite, em, dfn {
    font-style: italic; }

  code, kbd, samp, pre, tt, var {
    font-family: "Courier New", Courier, monospace; }

  del {
    text-decoration: line-through;
    color: #666; }

  ins, dfn {
    border-bottom: 1px solid #ccc; }

  big {
    font-size: 125%; }

  abbr, acronym {
    text-transform: uppercase;
    font-size: 85%;
    letter-spacing: 1px; }

  abbr[title], acronym[title], dfn[title] {
    cursor: help;
    border-bottom: 1px solid #ccc; }

  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    color: transparent; }

  a {
    text-decoration: underline; }

  a:hover {
    text-decoration: none;
    cursor: pointer; }

  a abbr[title], a acronym[title] {
    text-decoration: none; }

  a:hover abbr[title], a:hover acronym[title] {
    text-decoration: none; }

  a, a:hover abbr, a:hover acronym {
    cursor: pointer; }

  address a {
    text-decoration: none !important;
    border-bottom: 1px dotted #ccc; }

  address:hover a {
    border: none; }

  fieldset {
    border: 1px solid #ccc; }

  textarea, input[type="text"], input[type="password"], select {
    border: 1px solid #ccc;
    vertical-align: baseline;
    *vertical-align: middle; }

  textarea:hover, input[type="text"]:hover, input[type="password"]:hover, select:hover {
    border-color: #aaa; }

  textarea:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus {
    border-color: #aaa;
    outline: 1px solid #ff0; }

  label, select {
    cursor: pointer; }

  button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible; }

  button[disabled], input[disabled], select[disabled] {
    cursor: default; }

  textarea, input[type="text"], input[type="password"] {
    cursor: text; }

  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px; }

  textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical; }

  ::-moz-selection {
    background: #d6e5f3;
    color: #2570bb;
    text-shadow: none; }

  ::selection {
    background: #d6e5f3;
    color: #2570bb;
    text-shadow: none; }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999; }

  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #999; }

  .placeholder {
    color: #999; }

  .clear {
    clear: both !important;
    overflow: hidden !important;
    line-height: 0 !important;
    height: 0 !important;
    *zoom: 1; }

  .clear:before, .clear:after {
    content: "" !important;
    display: table !important; }

  .clear:after {
    clear: both !important; }

  .chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0; }

  a.ajax {
    border-bottom: 1px dotted;
    text-decoration: none !important; }

  a.ajax:hover {
    border: none;
    text-decoration: none !important; }

  @media print {
    * {
      background: transparent !important;
      color: black !important;
      box-shadow: none !important;
      text-shadow: none !important;
      filter: none !important;
      -ms-filter: none !important; }
    a, a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }
    abbr[title]:after {
      content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
      content: ""; }
    pre, blockquote {
      border: 1px solid #999;
      page-break-inside: avoid; }
    thead {
      display: table-header-group; }
    tr, img {
      page-break-inside: avoid; }
    img {
      max-width: 100% !important; }
    p, h2, h3 {
      orphans: 3;
      widows: 3; }
    h2, h3 {
      page-break-after: avoid; } }

  h1 {
    font-size: 40px;
    font-weight: 400; }
    @media (max-width: 480px) {
      h1 {
        font-size: 26px; } }

  h2 {
    font-size: 36px;
    font-weight: 400; }
    @media (max-width: 480px) {
      h2 {
        font-size: 24px; } }

  .chance_block {
    padding: 80px 0 84px; }
    @media (max-width: 550px) {
      .chance_block {
        padding-top: 35px; } }
    .chance_block .chance_form_wrapper {
      border: 1px solid #4cdc6e;
      box-shadow: -1px 1px 9px rgba(0, 0, 0, 0.17);
      max-width: 1170px;
      padding: 40px 178px;
      padding-top: 30px;
      margin: auto; }
      .chance_block .chance_form_wrapper .form_title_block {
        text-align: center;
        margin-bottom: 40px; }
        @media (max-width: 550px) {
          .chance_block .chance_form_wrapper .form_title_block {
            margin-bottom: 27px; } }
        .chance_block .chance_form_wrapper .form_title_block .form_title {
          color: #1a1e20;
          font-size: 27px;
          font-weight: 400; }
          @media (max-width: 550px) {
            .chance_block .chance_form_wrapper .form_title_block .form_title {
              font-size: 25px; } }
        .chance_block .chance_form_wrapper .form_title_block .form_subtitle {
          color: #1a1e20;
          font-size: 16px;
          font-weight: 400; }
          @media (max-width: 550px) {
            .chance_block .chance_form_wrapper .form_title_block .form_subtitle {
              font-size: 13px; } }
      .chance_block .chance_form_wrapper form#chanceForm {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .chance_block .chance_form_wrapper form#chanceForm .sum_block {
          width: 100%;
          margin-bottom: 30px; }
          .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner {
            width: 670px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .sum_text {
              font-size: 14px;
              font-weight: 500;
              line-height: 24px; }
            .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .range_input {
              width: 440px;
              margin-top: -9px; }
              .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .range_input .irs .irs-grid {
                display: none; }
              .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .range_input .irs .irs-handle {
                border: 7px solid #0482cd;
                width: 30px;
                height: 30px;
                top: 23px; }
              .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .range_input .irs .irs-bar--single {
                background-color: #0482cd; }
            .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .sum {
              font-size: 27px;
              font-weight: 500;
              line-height: 13.3px;
              color: #010101;
              min-width: 130px; }
        .chance_block .chance_form_wrapper form#chanceForm .form-group {
          max-width: 250px;
          width: 100%;
          margin: 0 0 11px; }
          .chance_block .chance_form_wrapper form#chanceForm .form-group.field-chanceform-sum {
            display: none; }
          .chance_block .chance_form_wrapper form#chanceForm .form-group .help-block {
            margin: 0; }
          .chance_block .chance_form_wrapper form#chanceForm .form-group input[type="tel"],
          .chance_block .chance_form_wrapper form#chanceForm .form-group input[type="text"],
          .chance_block .chance_form_wrapper form#chanceForm .form-group input[type="email"] {
            border-radius: 28px;
            background-color: #ffffff;
            height: 50px;
            padding: 0 25px;
            font-size: 16px;
            transition: 0.3s;
            border: 2px solid #d8d8d8;
            -webkit-appearance: none;
            outline: none;
            box-shadow: none; }
            .chance_block .chance_form_wrapper form#chanceForm .form-group input[type="tel"]:hover, .chance_block .chance_form_wrapper form#chanceForm .form-group input[type="tel"]:focus,
            .chance_block .chance_form_wrapper form#chanceForm .form-group input[type="text"]:hover,
            .chance_block .chance_form_wrapper form#chanceForm .form-group input[type="text"]:focus,
            .chance_block .chance_form_wrapper form#chanceForm .form-group input[type="email"]:hover,
            .chance_block .chance_form_wrapper form#chanceForm .form-group input[type="email"]:focus {
              border: 1px solid #00c1d0; }
        .chance_block .chance_form_wrapper form#chanceForm button {
          max-width: 250px;
          width: 100%;
          margin: 0;
          border-radius: 28px;
          background-color: #0482cd;
          font-size: 16px;
          color: white;
          border: none;
          height: 50px;
          padding: 0;
          margin-bottom: 11px;
          transition: 0.3s;
          text-transform: uppercase;
          outline: none; }
          .chance_block .chance_form_wrapper form#chanceForm button:hover {
            box-shadow: 3px 5px 5px 0px #c7c4c4; }

  @media (max-width: 1150px) {
    .chance_block .chance_form_wrapper {
      padding: 40px 20px;
      padding-top: 30px; }
      .chance_block .chance_form_wrapper form#chanceForm {
        justify-content: space-around; }
        .chance_block .chance_form_wrapper form#chanceForm .form-group {
          max-width: 40%; }
        .chance_block .chance_form_wrapper form#chanceForm button {
          max-width: 40%; } }

  @media (max-width: 700px) {
    .chance_block .chance_form_wrapper {
      padding: 32px 34px;
      padding-top: 25px; }
      .chance_block .chance_form_wrapper form#chanceForm {
        justify-content: space-around; }
        .chance_block .chance_form_wrapper form#chanceForm .sum_block {
          margin-bottom: 20px; }
          .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner {
            width: 100%;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: baseline; }
            .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .sum_text {
              margin-bottom: 15px;
              font-size: 16px; }
            .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .range_input {
              order: 2;
              width: 100%; }
            .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .sum {
              font-size: 24px;
              margin-left: 10px; }
        .chance_block .chance_form_wrapper form#chanceForm .form-group {
          max-width: 100%; }
        .chance_block .chance_form_wrapper form#chanceForm button {
          max-width: 100%; } }

  @media (max-width: 550px) {
    .chance_block {
      padding-bottom: 38px; }
      .chance_block .chance_form_wrapper {
        padding: 25px 34px; }
        .chance_block .chance_form_wrapper form#chanceForm {
          justify-content: space-around; }
          .chance_block .chance_form_wrapper form#chanceForm .sum_block {
            margin-bottom: 20px; }
            .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner {
              width: 100%;
              flex-wrap: wrap; }
              .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .range_input .irs .irs-handle {
                border-width: 4px;
                width: 30px;
                height: 30px;
                top: 23px; }
              .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .sum_text {
                margin-bottom: 0;
                font-size: 16px; }
              .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .range_input {
                order: 2;
                width: 100%; }
              .chance_block .chance_form_wrapper form#chanceForm .sum_block .sum_block_inner .sum {
                font-size: 19px; }
          .chance_block .chance_form_wrapper form#chanceForm .form-group {
            max-width: 100%; }
            .chance_block .chance_form_wrapper form#chanceForm .form-group input {
              height: 50px;
              font-size: 18px; }
          .chance_block .chance_form_wrapper form#chanceForm button {
            max-width: 100%;
            font-size: 18px;
            height: 50px;
            line-height: 40px;
            margin-top: 12px;
            margin-bottom: 0; } }

  @media (min-width: 550px) {
    .chance_block .chance_form_wrapper form#chanceForm .form-group.field-chanceform-policy_checkbox {
      width: 100%;
      max-width: 80%; } }

  .chance_block .chance_form_wrapper form#chanceForm .form-group.field-chanceform-policy_checkbox .help-block {
    width: 100%;
    display: block;
    float: left; }

  .policy-checkbox,
  .policy-checkbox-text {
    float: left;
    display: inline-block; }

  .policy-checkbox-text {
    margin-left: 15px;
    width: 80%; }

  .policy_ajax_block {
    max-width: 800px; }

  /*@import "typography";*/
  * {
    margin: 0;
    padding: 0; }

  body {
    font: 14px/1.4 'PT Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #616060; }

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 10px; }

  h1 {
    color: #1a1919;
    margin-bottom: 20px; }

  a img {
    border: none; }

  a:link {
    color: #A41C7E;
    text-decoration: underline; }

  a:visited {
    color: #A41C7E;
    text-decoration: underline; }

  a:hover, a:active, a:focus {
    text-decoration: none; }

  .clr {
    clear: both;
    height: 0;
    width: 0; }

  #top-container {
    overflow: hidden;
    /*margin-bottom: 72px;*/ }
    @media (max-width: 768px) {
      #top-container {
        margin-bottom: 30px; } }
    @media (max-width: 480px) {
      #top-container {
        margin-bottom: 10px; } }

  .header-t {
    height: 58px;
    line-height: 58px; }

  .head-t {
    width: 300px;
    float: left; }

  .head-s {
    width: 690px;
    float: right;
    text-align: right;
    padding-top: 18px; }

  .header-f-w, .header-t-w {
    width: 990px;
    margin: 0 auto;
    padding: 0 7px; }

  .head-logo {
    padding: 10px 0;
    line-height: 60px; }
    @media (max-width: 769px) {
      .head-logo {
        padding: 0; } }
    @media (max-width: 480px) {
      .head-logo {
        text-align: center; } }

  .head-logo a {
    text-decoration: none;
    font-size: 22px;
    color: #232323;
    font-weight: 500;
    display: block;
    line-height: 60px; }

  .head-z {
    float: right;
    margin-top: 24px; }
    @media (max-width: 768px) {
      .head-z {
        display: none; } }

  #numer, #zajz {
    float: left; }

  #numer span {
    background: url("../img/numm.png") repeat-x scroll center top #FFFFFF;
    border-radius: 5px;
    font-size: 24px;
    margin-left: 5px;
    padding: 2px 4px;
    color: #eee; }

  #zajz {
    margin-left: 10px;
    margin-top: 5px; }

  .content {
    width: 990px;
    margin: 0 auto;
    padding: 0 7px;
    overflow: hidden; }

  .content-l {
    float: left;
    width: 460px;
    padding-top: 20px; }

  .z-p {
    font-size: 18px; }

  .ui-slider {
    border: 1px solid #C6C6C6 !important;
    border-radius: 4px !important;
    height: 7px !important;
    background: none repeat scroll 0 0 #EEEEEE !important;
    margin: 25px 2px 35px !important; }

  .ui-slider-handle {
    background: url("../images/slider-icon-amount.png") no-repeat scroll 50% 50% #A41C7E !important;
    border-radius: 15px !important;
    cursor: pointer !important;
    height: 31px !important;
    outline: medium none !important;
    top: -13px !important;
    width: 31px !important;
    border: none !important; }

  #slider-range-min1 .ui-slider-handle {
    background: url("../images/slider-icon-term.png") no-repeat scroll 50% 50% #A41C7E !important; }

  .ui-slider-range {
    background: none repeat scroll 0 0 #A41C7E !important;
    border-radius: 2px !important; }

  div.button a {
    color: #fff;
    text-decoration: none;
    background-color: #A41C7E;
    margin: 50px 0;
    display: block;
    height: 40px;
    width: 180px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px; }

  .content-r {
    float: right;
    width: 530px;
    margin-top: 5px; }

  #container-a {
    background: none repeat scroll 0 0 #F1F1F1;
    height: 80px;
    border-bottom: 2px solid rgba(1, 1, 1, 0.075);
    border-top: 1px solid rgba(1, 1, 1, 0.05); }

  #container-a .content {
    line-height: 80px;
    text-align: center; }

  #container-b {
    padding: 3em 0; }

  .nav-1, .nav-2, .nav-3, .nav-4 {
    float: left;
    width: 25%; }

  #container-b span.back {
    height: 130px;
    width: 130px;
    display: block;
    margin: 0 auto 22px;
    border-radius: 50%;
    background-color: #A41C7E; }

  #container-b .title {
    text-align: center;
    display: block;
    width: 130px;
    margin: 0 auto;
    font-size: 16px; }

  #container-с {
    border-bottom: 1px solid #E7E7E7;
    padding: 3em 0 0;
    font-size: 13px; }

  #container-с .content-r {
    width: 570px;
    margin-left: 80px;
    padding-top: 20px; }

  #container-с .content-l {
    width: 340px;
    padding-top: 0; }

  .text-info-t {
    padding: 15px;
    background-color: #A41C7E;
    margin-bottom: 20px;
    border-radius: 8px; }

  .text-info-t h2 {
    margin: 0;
    font-size: 18px;
    color: #FFF; }

  #container-с .content-r p {
    padding: 0 5px; }

  #container-e {
    background: none repeat scroll 0 0 #F1F1F1;
    border-top: 1px solid rgba(1, 1, 1, 0.05);
    padding: 3em 0; }

  #container-d {
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-top: 1px solid rgba(1, 1, 1, 0.05); }

  .content-e-t {
    overflow: hidden;
    border-bottom: 1px solid rgba(1, 1, 1, 0.075);
    padding-bottom: 3em; }

  .nav-5, .nav-6, .nav-7 {
    float: left;
    width: 33%; }

  .nav-t {
    padding-left: 90px;
    position: relative;
    height: 70px;
    font-size: 16px; }

  .nav-t span {
    position: absolute;
    left: 0;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    background-color: #A41C7E;
    line-height: 70px;
    text-align: center;
    font-family: arial, sans-serif;
    font-weight: bold; }

  .nav-t p {
    padding-top: 8px; }

  .content-e-f {
    padding: 3em 0 0; }

  .content-e-f img {
    margin-right: 20px; }

  #form-credit input[type="text"], .city_container .city_search input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    color: #676767;
    height: 29px;
    line-height: 29px;
    outline: 0 none;
    padding: 0 5%;
    width: 90%; }

  #form-credit input[type="submit"], .city_container .city_search input[type="submit"] {
    -moz-box-sizing: border-box;
    background-image: -moz-linear-gradient(90deg, #E5E5E5 0%, #FFFFFF 100%);
    border: 0 none;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    color: #7CA411;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    height: 30px;
    line-height: 30px;
    margin: 11px 0 0 10px;
    outline: 0 none;
    padding: 0 20px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 0 1px 0 #E9E9E9;
    width: 212px; }

  .city_container {
    margin-left: -16px; }

  .city_container .city_name {
    display: inline-block;
    padding: 0;
    margin: 0 20px;
    font-size: 33px;
    line-height: 29px;
    color: #84bd32;
    border-bottom: 2px #84bd32 dashed; }

  .city_container .city_frame {
    height: 337px;
    width: 573px;
    padding: 25px;
    top: -22px;
    left: -20px;
    border-radius: 6px;
    background-image: -moz-linear-gradient(90deg, #e5e5e5 0%, white 100%);
    background-image: -webkit-linear-gradient(90deg, #e5e5e5 0%, white 100%);
    background-image: -ms-linear-gradient(90deg, #e5e5e5 0%, white 100%);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); }

  .city_container .close_frame {
    height: 25px;
    width: 25px;
    top: 25px;
    right: 24px;
    background: url(../images/close_modal.png) no-repeat; }

  .city_container .city_search {
    width: 100%;
    margin: 52px 0 12px; }

  .city_container .city_search input[type=text] {
    width: 377px;
    height: 39px;
    line-height: 39px;
    float: left;
    padding: 0 10px; }

  .city_container .city_search input[type=submit] {
    width: 150px;
    height: 38px;
    padding-bottom: 3px;
    line-height: 38px;
    float: right;
    margin: 0;
    font-size: 24px;
    font-style: normal;
    text-transform: lowercase; }

  .city_container .city_region {
    height: 234px;
    overflow: auto; }

  .city_container .city_table td > div a {
    display: inline;
    font-size: 20px;
    line-height: 30px;
    color: #333;
    border-bottom: 2px #84bd32 dashed; }

  .city_container .city_table td > div.active a {
    color: #84bd32;
    text-decoration: none; }

  div.search_b_1 input, div.search_b_2 select, div.search_k input, div.search_k select {
    border-radius: 6px; }

  #geo_zag h1 {
    font-family: arial, sans-serif;
    font-size: 26px;
    font-weight: normal; }

  .offers-block {
    margin-bottom: 30px;
    overflow: hidden; }

  .link_offers:hover {
    cursor: pointer; }

  .cr_block {
    margin-top: 10px;
    padding: 20px;
    width: 948px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #ffffff;
    /* Old browsers */ }

  #container .content #geocredit_content #programs_block .cr_block:hover {
    border: 1px solid #00b56a !important; }

  #cr_head {
    float: left; }

  .cr_img {
    float: left;
    width: 144px;
    padding-right: 56px;
    height: 60px; }

  #cr_zag {
    width: 123px;
    float: left;
    border-left: 1px solid #ccc;
    padding: 10px 0px 10px 20px;
    font-size: 15px;
    line-height: 20px;
    color: #333;
    height: 40px; }

  #cr_proc {
    width: 166px;
    float: left;
    text-align: center;
    margin-top: 10px;
    padding-top: 25px;
    height: 45px; }

  #cr_proc span.pr {
    color: #676767;
    font-size: 33px; }

  #cr_proc span.des {
    font-style: italic;
    color: #999;
    font-size: 12px; }

  .cr_cont {
    float: left; }

  .cr_p1, .cr_p3 {
    width: 160px;
    float: left;
    margin-top: 7px;
    font-weight: bold;
    color: #333333;
    font-size: 14px; }

  #cr_p2, .cr_p4, #cr_p5 {
    width: 230px;
    float: left;
    color: #676767;
    font-size: 13px;
    margin-top: 3px; }

  #cr_p5 {
    width: 264px !important; }

  .cr_pzag {
    color: #999;
    display: block;
    margin-bottom: 5px;
    font-weight: normal; }

  .cr_block .button {
    float: right;
    text-align: center;
    line-height: 42px;
    background-color: #00b56a;
    border-radius: 4px;
    color: #FFFFFF;
    margin: 9px auto 0;
    width: 160px; }

  #needmore {
    font-size: 16px;
    margin: 5px 0; }

  #content .c_top_a .mod_content li, #geocredit_content ul.menu li {
    float: left;
    margin-right: 18px; }

  #geo_zag h1 {
    margin-bottom: 6px; }

  #geocredit_content ul.menu {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important; }

  #geocredit_content {
    margin-bottom: 30px; }

  #content .c_top_a, #geocredit_content .moduletable1 {
    font: 18px/33px Arial, "Nimbus Sans L", Helvetica, sans-serif;
    margin-bottom: 31px; }

  #footer ul {
    list-style: none; }

  #footer a {
    font-size: 12px;
    color: #eee; }

  .foot-1 {
    float: left;
    width: 400px; }

  .foot-2, .foot-3 {
    text-align: right; }
    @media (max-width: 768px) {
      .foot-2, .foot-3 {
        text-align: left; } }

  .foot-3 ul {
    text-align: right; }

  .foot-3 li {
    display: inline-block;
    margin-left: 15px; }

  /* ~~ Селекторы элементов/тегов ~~ */
  ul, ol, dl {
    /* Из-за различий между браузерами рекомендуется обнулять поля в списках. Для согласованности можно указать нужные величины либо здесь, либо в элементах списка (LI, DT, DD), которые они содержат. Помните, что сделанное здесь последовательно включается в список .nav, если только не будет прописан более конкретный селектор. */
    padding: 0;
    margin: 0; }

  /* ~~ этот контейнер окружает все остальные контейнеры DIV, задавая их ширину на процентной основе ~~ */
  /* ~~ Этот сгруппированный селектор выдает списки в пространстве .content ~~ */
  .content ul, .content ol {
    padding: 0 15px 15px 40px;
    /* это поле зеркально повторяет правое поле в правиле для заголовков и параграфов выше. Внизу поле помещено как граница между элементами списков, а слева — как отступ. Поля можно настраивать по желанию. */ }

  /* ~~ прочие классы float/clear ~~ */
  .fltrt {
    /* этот класс можно использовать для обтекания элемента справа на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
    float: right;
    margin-left: 8px; }

  .fltlft {
    /* этот класс можно использовать для обтекания элемента слева на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
    float: left;
    margin-right: 8px; }

  .clearfloat {
    /* этот класс можно поместить в теге <br /> или в пустом блоке DIV в качестве конечного элемента, следующего за последним обтекаемым DIV (внутри #container), если overflow:hidden удалено в .container */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px; }

  div#foxcontainer_c127 {
    margin: 0 !important;
    padding: 0 !important; }

  #t3Form .panel-heading {
    background-color: #eee;
    background-image: none;
    border-color: #eee;
    color: #333; }

  #t3Form .panel-info {
    border-color: #ccc; }

  #t3Form .btn-primary {
    background-color: #A41C7E;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #A41C7E;
    color: #FFFFFF; }

  .item-page, .item-separator {
    margin-bottom: 30px; }

  .item-page_reestr table {
    width: 100%; }

  .item-page_reestr table td, .item-page_reestr table th {
    padding: 5px;
    border: 1px solid #eee; }

  div#foxcontainer_c139 {
    margin-bottom: 40px;
    overflow: hidden; }

  div#foxcontainer_c139 .control-group {
    margin-bottom: 15px; }

  div#foxcontainer_c139 .control-group select {
    height: 28px;
    width: 270px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 3px; }

  div#foxcontainer_c139 .control-group input {
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 3px; }

  div#foxcontainer_c139 .control-group button {
    background-color: #a41c7e;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #a41c7e;
    color: #ffffff;
    height: 32px;
    width: 100px;
    text-align: center; }

  .parallelogram {
    background: #FF4242;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 14px;
    padding: 0 6px;
    min-width: 126px; }
    .parallelogram, .parallelogram__left-angle, .parallelogram__right-angle {
      display: inline-block;
      vertical-align: bottom;
      height: 14px; }
    .parallelogram__left-angle {
      border-left: solid transparent 7px;
      border-bottom: solid #FF4242 14px;
      margin-left: -7px;
      /*@media (max-width: 400px) {
        display: none;
      }*/ }
    .parallelogram__right-angle {
      border-right: solid transparent 7px;
      border-top: solid #FF4242 14px;
      margin-right: -7px;
      /*@media (max-width: 400px) {
        display: none;
      }*/ }
    .parallelogram__wrapper {
      line-height: 1;
      min-height: 18px;
      white-space: nowrap;
      margin-top: -20px;
      margin-bottom: -8px; }

  .bem_offer {
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 21px;
    padding: 20px;
    position: relative;
    border: 1px solid transparent;
    text-decoration: none;
    transition: 0.2s; }
    @media (max-width: 997px) {
      .bem_offer {
        display: inline-block;
        vertical-align: top;
        width: 47%;
        margin-right: 5%;
        margin-bottom: 5%; }
        .bem_offer:nth-child(2n) {
          margin-right: 0; } }
    @media (max-width: 480px) {
      .bem_offer {
        display: block;
        width: auto;
        margin-right: 0;
        padding: 15px; } }
    .bem_offer:link, .bem_offer:visited {
      color: #616060;
      text-decoration: none; }
    .bem_offer:hover {
      border-color: #00a0d5; }
    .bem_offer:hover .bem_offer__note {
      background: #00a0d5; }
    .bem_offer:hover .bem_offer__get .button {
      background-color: #00a0d5; }
    .bem_offer__note {
      background: -webkit-linear-gradient(0deg, #4cdc6e 23%, #4cdc6e 66%, #4cdc6e 100%);
      background: -moz-linear-gradient(0deg, #4cdc6e 23%, #4cdc6e 66%, #4cdc6e 100%);
      background: -o-linear-gradient(0deg, #4cdc6e 23%, #4cdc6e 66%, #4cdc6e 100%);
      background: -ms-linear-gradient(0deg, #4cdc6e 23%, #4cdc6e 66%, #4cdc6e 100%);
      background: #4cdc6e;
      color: #fff;
      font-size: 14px;
      padding: 10px 20px 7px;
      position: absolute;
      left: 9px;
      line-height: 1;
      transition: 0.2s;
      text-transform: uppercase;
      top: 0; }
    .bem_offer__info, .bem_offer__image, .bem_offer__text, .bem_offer__get {
      vertical-align: top;
      width: 25%;
      font-size: 14px; }
      @media (max-width: 997px) {
        .bem_offer__info, .bem_offer__image, .bem_offer__text, .bem_offer__get {
          width: auto; } }
    .bem_offer__info {
      vertical-align: middle;
      max-width: 158px;
      margin: 0 auto; }
      @media (max-width: 997px) {
        .bem_offer__info {
          margin-bottom: 24px; } }
      @media (max-width: 480px) {
        .bem_offer__info {
          margin-bottom: 10px; } }
    .bem_offer__text {
      font-size: 16px; }
      .bem_offer__text span {
        color: #4cdc6e; }
      @media (max-width: 997px) {
        .bem_offer__text {
          text-align: center;
          margin-bottom: 20px; } }
      @media (max-width: 480px) {
        .bem_offer__text {
          font-size: 14px;
          margin-bottom: 10px; } }
    .bem_offer__image {
      padding: 0;
      text-align: center;
      vertical-align: middle;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 997px) {
        .bem_offer__image {
          display: block;
          width: auto;
          margin-right: 0;
          margin-bottom: 15px; } }
      @media (max-width: 480px) {
        .bem_offer__image {
          margin-bottom: 10px; } }
    .bem_offer__get {
      text-align: right;
      vertical-align: middle;
      display: flex;
      align-items: center; }
      @media (max-width: 1025px) {
        .bem_offer__get {
          /*width: 19%;*/ } }
      @media (max-width: 997px) {
        .bem_offer__get {
          text-align: center;
          display: block;
          width: auto; } }
      .bem_offer__get .button {
        line-height: 1; }

  @media (max-width: 992px) {
    .bem_offer_success {
      padding: 23px 32px; } }

  @media (max-width: 565px) {
    .bem_offer_success {
      display: block;
      width: auto;
      max-width: 454px;
      margin: 0 auto;
      margin-bottom: 5%; }
      .bem_offer_success:nth-child(2n) {
        margin-right: auto; } }

  .bem_offer_success .bem_offer__info {
    width: 100%;
    max-width: 512px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 992px) {
      .bem_offer_success .bem_offer__info .bem_param {
        width: 50%; }
        .bem_offer_success .bem_offer__info .bem_param:nth-child(even) {
          width: 40%; } }
    @media (max-width: 565px) {
      .bem_offer_success .bem_offer__info {
        margin-bottom: 20px; }
        .bem_offer_success .bem_offer__info .bem_param {
          margin-bottom: 23px; } }

  .bem_offer_success .bem_offer__text {
    font-size: 14px;
    width: 100%;
    margin-top: 20px; }
    @media (max-width: 992px) {
      .bem_offer_success .bem_offer__text {
        display: none; } }
    .bem_offer_success .bem_offer__text br {
      display: none; }

  .bem_advantage {
    background: no-repeat center top;
    padding-top: 77px;
    margin-bottom: 64px; }
    .bem_advantage_type_diagram {
      background-image: url(../img/ico__diagram.png); }
    .bem_advantage_type_wallet {
      background-image: url(../img/ico__wallet.png); }
    .bem_advantage_type_zero-percent {
      background-image: url(../img/ico__zero-percent.png); }
    .bem_advantage_type_thumb-up {
      background-image: url(../img/ico__thumb-up.png); }
    .bem_advantage_type_timer {
      background-image: url(../img/ico__timer.png); }
    .bem_advantage_type_24-hours {
      background-image: url(../img/ico__24-hours.png); }
    .bem_advantage_type_card-in-hand {
      background-image: url(../img/ico__card-in-hand.png); }
    .bem_advantage_type_client {
      background-image: url(../img/ico__client.png); }

  .bem_advantages {
    padding-top: 60px; }
    @media (max-width: 769px) {
      .bem_advantages {
        padding-top: 30px; } }
    .bem_advantages__headline {
      color: #1a1919;
      text-align: center;
      margin-bottom: 47px; }
      @media (max-width: 480px) {
        .bem_advantages__headline {
          margin-bottom: 26px; } }

  .bem_header__left {
    margin-top: 28px; }
    .bem_header__left a {
      line-height: 1; }
    @media (max-width: 769px) {
      .bem_header__left {
        margin-top: 17px; } }

  .bem_header__content {
    /*border-bottom: 1px solid rgba(186, 186, 186, 0.1);
    padding-bottom: 22px;*/ }
    @media (max-width: 769px) {
      .bem_header__content {
        padding-bottom: 17px; } }
    @media (max-width: 480px) {
      .bem_header__content {
        border-bottom: 0; } }

  .bem_header__center {
    font-size: 16px;
    text-align: center;
    margin-top: 28px; }
    .bem_header__center strong {
      display: block;
      color: #4cdc6e;
      font-size: 20px;
      font-weight: 700; }
      @media (max-width: 769px) {
        .bem_header__center strong {
          font-size: 14px; } }
      @media (max-width: 480px) {
        .bem_header__center strong {
          margin-top: 0;
          display: inline; } }
    @media (max-width: 769px) {
      .bem_header__center {
        font-size: 14px;
        margin-top: 17px; } }

  .bem_header__right {
    font-size: 16px;
    text-align: right;
    margin-top: 28px; }
    .bem_header__right strong {
      color: #4cdc6e;
      font-weight: 700; }
      @media (max-width: 769px) {
        .bem_header__right strong {
          font-size: 14px; } }
    @media (max-width: 769px) {
      .bem_header__right {
        font-size: 14px;
        margin-top: 17px; } }
    @media (max-width: 480px) {
      .bem_header__right {
  /*      background-color: rgba(186, 186, 186, 0.1);*/
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 0;
        text-align: center; } }

  .bem_footer__content {
    background: #4cdc6e;
    padding: 12px 0; }

  .bem_footer__copy {
    color: #fff;
    padding-left: 67px; }
    @media (max-width: 769px) {
      .bem_footer__copy {
        padding-left: 0; } }

  .bem_offers__text {
    padding: 0 67px; }
    @media (max-width: 769px) {
      .bem_offers__text {
        padding: 0; } }
    @media (max-width: 480px) {
      .bem_offers__text {
        margin-top: 41px; } }

  .bem_param {
    background: left center no-repeat;
    padding-left: 30px;
    font-size: 16px; }
    .bem_param_type_coin {
      background-image: url(../img/ico__coins.png); }
    .bem_param_type_percent {
      background-image: url(../img/ico__percent.png); }
    .bem_param_type_age {
      background-image: url(../img/ico__age.png); }

  .bem_param_text {
    padding-left: 0; }
    .bem_param_text .bem_param__label {
      color: #999999;
      display: block;
      font-size: 14px;
      margin-bottom: 5px; }
    .bem_param_text .bem_param__value {
      color: #616060;
      display: block;
      font-size: 14px;
      font-weight: 700;
      white-space: nowrap; }

  .b-success {
    text-align: center; }
    .b-success__headline {
      font-size: 36px; }
      @media (max-width: 992px) {
        .b-success__headline {
          font-size: 18px; } }
      .b-success__headline span {
        color: #4cdc6e; }

  .button {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.7;
    background: #4cdc6e url(../img/arrow-right_circle.svg) center right 4% no-repeat;
    border-radius: 34px;
    color: #FFFFFF;
    padding: 21px 26px;
    padding-right: 66px;
    margin: 1px auto 0;
    display: inline-block;
    transition: 0.2s; }

  .field-chanceform-privacy {
    max-width: 100% !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; }
    .field-chanceform-privacy a {
      text-decoration: underline;
      color: black; }

  .b-checkbox {
    position: relative; }
    .b-checkbox_left {
      margin: 0;
      margin-right: 15px; }
    .b-checkbox__input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: absolute;
      top: 17px;
      opacity: 0;
      left: 10px;
      height: 1px !important;
      width: 1px;
      z-index: -1; }
      .b-checkbox__input + .b-checkbox__img {
        background: url(/img/b-checkbox.png) center center no-repeat;
        width: 23px;
        height: 23px; }
      .b-checkbox__input:checked + .b-checkbox__img {
        background-image: url(/img/b-checkbox_check.png); }
  </style>

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
     m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(52868086, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
     });
  </script>
  <style>
    .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #00a0d5;
    border-color: #00a0d5;
  }
  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus {
    z-index: 2;
    color: #00a0d5;
    background-color: #eee;
    border-color: #ddd;
  }
  .pagination > li > a,
  .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #00a0d5;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .align-items-center { width:100%; top: 50%; transform: translateY(-50%);position: absolute;}

  .notificate-wrapper {
      bottom: 0px;
      right: 0px;
      position: fixed;
      padding: 15px;
      overflow: hidden;
      transform: translate3d(0, 0, 0)
  }

  .notice-block {
   display: none;
   position: relative;
   padding: 20px;
   overflow: hidden;
   border-radius: 10px;
   background: -moz-linear-gradient(top, rgba(240,255,249,0.97) 0%, rgba(161,255,219,0.97) 100%);
   background: -webkit-linear-gradient(top, rgba(240,255,249,0.97) 0%,rgba(161,255,219,0.97) 100%);
   background: linear-gradient(to bottom, rgba(240,255,249,0.97) 0%,rgba(161,255,219,0.97) 100%);
   margin-top: 15px;
   z-index: 9999;
   -webkit-box-shadow: 1px 1px 10px 0px rgba(5, 94, 54, 0.35);
   -moz-box-shadow: 1px 1px 10px 0px rgba(5, 94, 54, 0.35);
   box-shadow: 1px 1px 10px 0px rgba(5, 94, 54, 0.35);
  }


  .notice-block>a {
      text-decoration: none;
      color: #000 !important;
      border-bottom: none
  }

  .notice-block>a:hover {
      border-bottom: none
  }

  .notice-data,
  .notice-image {
      padding-left: 15px;
      display: inline-block;
      vertical-align: top
  }

  .notice-data {
      padding-left: 15px;
      width: 250px
  }

  .notice-title {
      font-size: 16px;
      font-weight: bold
  }

  .notice-close {
   background: url("../img/close-x.png");
   background-size: 20px;
   height: 20px;
   width: 20px;
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
  }
  #page_wrapper {
      height: 100%;
      display: flex;
      flex-direction: column
  }

  #page_wrapper #main {
      flex: auto
  }
  </style>


  <!-- BEGIN ExactMetrics v5.3.8 Universal Analytics - https://exactmetrics.com/ -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-163621985-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- END ExactMetrics Universal Analytics -->

  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->



  </head>
  <body>

  <noscript><div><img src="https://mc.yandex.ru/watch/52868086" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  <!-- Google Tag Manager (noscript) -->
  <!-- End Google Tag Manager (noscript) -->
  <header id="top-container">
      <div class="header-f bem_header">
          <div class="container">
              <div class="bem_header__content">
                  <div class="row">
                      <div class="col-md-12">
                      <div class="row">
                          <div class="col-sm-4 col-sm-push-8">
                              <div class="bem_header__right">
                                  <img src="/img/odobr.png" height="60" width="220">
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="bem_header__center"><!--  hidden-xs
                                  Сегодня обработали:
                                                                  <strong></strong>


                              --></div>
                          </div>
                          <div class="col-sm-4 col-sm-pull-8"><!--  hidden-xs -->
                              <div class="head-logo bem_header__left">
                                  <!--<a href="#">--><img src="/zaymzaminutuLogonew.svg" height="60" alt="Займ-за-минуту.рф"><!--</a>-->
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>

  </header>

  <style>
    .btn-outline-success {

      color: #000000!important;
      border-color: #00a0d5;
  }
    .btn-outline-success:hover {

      color: #fff!important;
      background-color: #00a0d5;
      border-color: #00a0d5;
  }

  .btn:active, .btn.active {

      color: #fff!important;
      background-color: #00a0d5;
      border-color: #00a0d5;
  }
  .bborder1 {
    border-color: #00a0d5;
    border-width: 2px;
  }
  .bborder1 span.bem_offer__note {
      background-color: #00a0d5;
  }
  .bborder1 div.button {
      border-color: #00a0d5;
      background-color: #00a0d5;
  }
  .bborder2 {
    border-color: rgb(220,76,103);
    border-width: 2px;
  }
  .bborder2 span.bem_offer__note {
      background-color: rgb(220,76,103);
  }
  .bborder2 div.button {
      border-color: rgb(220,76,103);
      background-color: rgb(220,76,103);
  }
  .bborder3 {
    border-color: rgb(255, 150, 0);
    border-width: 2px;
  }
  .bborder3 span.bem_offer__note {
      background-color: rgb(255, 150, 0);
  }
  .bborder3 div.button {
      border-color: rgb(255, 150, 0);
      background-color: rgb(255, 150, 0);
  }
  .bborder4 {
    border-color: rgb(76, 220, 110);
    border-width: 2px;
  }
  .bborder4 span.bem_offer__note {
      background-color: rgb(76, 220, 110);
  }
  .bborder4 div.button {
      border-color: rgb(76, 220, 110);
      background-color: rgb(76, 220, 110);
  }
  .bborder5 {
    border-color: rgb(71, 164, 71);
    border-width: 2px;
  }
  .bborder5 span.bem_offer__note {
      background-color: rgb(71, 164, 71);
  }
  .bborder5 div.button {
      border-color: rgb(71, 164, 71);
      background-color: rgb(71, 164, 71);
  }
  .bborder6 {
    border-color: rgb(0, 160, 213);
    border-width: 2px;
  }
  .bborder6 span.bem_offer__note {
      background-color: rgb(0, 160, 213);
  }
  .bborder6 div.button {
      border-color: rgb(0, 160, 213);
      background-color: rgb(0, 160, 213);
  }
  .bborder7 {
    border-color: rgb(71, 71, 164);
    border-width: 2px;
  }
  .bborder7 span.bem_offer__note {
      background-color: rgb(71, 71, 164);
  }
  .bborder7 div.button {
      border-color: rgb(71, 71, 164);
      background-color: rgb(71, 71, 164);
  }
  .bborder8 {
    border-color: rgb(155,45,48);
    border-width: 2px;
  }
  .bborder8 span.bem_offer__note {
      background-color: rgb(155,45,48);
  }
  .bborder8 div.button {
      border-color: rgb(155,45,48);
      background-color: rgb(155,45,48);
  }
  .bem_offer__text {min-height:68px;}
  .bem_offer__info {min-height:68px;}


  .bem_header__content {
   /* border-bottom: 1px solid rgba(186, 186, 186, 0.1);
   padding-bottom: 22px; */
  }

  h1 {
   color: #007700;
   /* margin-bottom: 40px; */
   font-weight: 600;
  }



  .bem_param_type_coin {
   font-weight: 600;
  }
  </style>

  <div id="container">
      <div class="container">        <div class="row">
              <div class="col-md-12">
                  <div id="geocredit_content" class="bem_offers">
                      <h1 class="text-center">МГНОВЕННЫЕ ЗАЙМЫ ОНЛАЙН - КРУГЛОСУТОЧНО!</h1>
                      <h2 class="text-center">подайте заявку в 3-4 компании для 100% получения денег</h2>
                      <div class="clr"></div>
                      <div id="programs_block">



<% offers.forEach(function(offer){ %>
  <a class="bem_offer bborder4 offers_all offers_ hide_me data-class-40137c802a2b29ef491530f5551c868b" target="_blank" data-class=".data-class-40137c802a2b29ef491530f5551c868b" data-redirect-link="https://keitaro1.cityads.com/p9hVVF?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/p9hVVF?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default">
    <span class="bem_offer__note"><%= offer.name %></span>
    <div class="bem_offer__image">
      <img src="http://cityads.com/<%= offer.offer_logo_svg %>" alt="" width="195">
    </div>

    <div class="bem_offer__info">
      <div class="bem_param bem_param_type_coin"><strong>до 30 000 руб.</strong></div>
      <div class="bem_param bem_param_type_percent">от 0% в день</div>
      <div class="bem_param bem_param_type_age">от 18 до 75 лет<br></div>
    </div>

      <div class="bem_offer__text">
        <strong>ПЕРВЫЙ ЗАЙМ ПОД 0%</strong><br>
        срок с продлением: 61 день<br>документы: ТОЛЬКО ПАСПОРТ</div>

        <div class="bem_offer__get">
          <div class="button" style="/*Перебивает Hover background-color: #00B56A !important;*/">
              Получить&nbsp;деньги
          </div>
      </div>
  </a>
<% }); %>





<style>
  a.adrurl {
      text-decoration: none !important;
    color: black !important;
     }
  a.adrurl:hover > div {
          border: 1px solid #00a0d5!important;

     }

  /*a.adrurl:hover > div > div > span > p {
      text-decoration: underline !important;
    color: black !important;*/

     }
  </style>
  <br><br><div class="col-md-12 col-sm-12 col-xs-12"><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/p9hVVF?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/p9hVVF?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">Робот Займер</h3><p class="align-middle">ООО «Займер»; ОГРН 1134205019189. Лицензия № 651303532004088. Юридический адрес: 650000, Кемеровская обл., г. Кемерово, пр. Советский, д. 2/7. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 365,0%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/BfrNdh?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/BfrNdh?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">MoneyMan</h3><p class="align-middle">ООО МФК «Мани Мен»; ОГРН 1117746442670. Лицензия № 2110177000478. Юридический адрес: г. Москва, ул. Василисы Кожиной, д.1, офис Д13. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 365%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/2p3G8M?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/2p3G8M?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">Веб-займ</h3><p class="align-middle">ООО МКК «Веб-займ»; ОГРН 1112722004581. Лицензия № 2110827000326. Юридический адрес: 630099, г. Новосибирск, ул. Депутатская, д. 2, офис 60. Процентная ставка: минимальная годовая процентная ставка - 302,95%, максимальная годовая процентная ставка - 346,75%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/Gwddb4?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/Gwddb4?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">Webbankir</h3><p class="align-middle">ООО МФО «ВЭББАНКИР»; ОГРН 1127746630846. Лицензия № 2120177002077. Юридический адрес: г. Москва, ул. Соколово-Мещерская, д. 29, оф. 308. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 365%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/MfwFKr?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/MfwFKr?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">Турбозайм</h3><p class="align-middle">ООО МКК Турбозайм; ОГРН 1137746702367. Лицензия № 651303045003951. Юридический адрес: г. Москва, 1-й Магистральный туп., дом 11, стр.10. Процентная ставка: минимальная годовая процентная ставка - 182,50%, максимальная годовая процентная ставка - 365%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/XZx3yV?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/XZx3yV?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">еКапуста</h3><p class="align-middle">ООО МФО «Русинтерфинанс»; ОГРН 1125476023298. Лицензия № 2120754001243. Юридический адрес: 630055, г. Новосибирск, ул. Гнесиных, д. 10/1, оф. 306. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 361,35%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/xr4Tv4?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/xr4Tv4?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">МигКредит</h3><p class="align-middle">ООО «МигКредит»; ОГРН 1107746671207. Лицензия № 2110177000037. Юридический адрес: 127018, Москва, Сущевский Вал, д.5, стр. 3. Процентная ставка: минимальная годовая процентная ставка - 97,82%, максимальная годовая процентная ставка - 358,43%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/TBjm1r?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/TBjm1r?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">Vivus</h3><p class="align-middle">ООО МФК «4финанс»; ОГРН 1167746117483. Лицензия № 3120177002032. Юридический адрес: 123100, г. Москва, проезд Красногвардейский 1-й, д. 12, стр. 3. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 365%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/4rw2hF?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/4rw2hF?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">CreditPlus</h3><p class="align-middle">ООО МФК Экофинанс; ОГРН 1157746230730. Лицензия № 651503045006452. Юридический адрес: 127051, г. Москва, улица Садовая-Самотёчная, дом 24/27. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 365%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/z9Pzc7?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/z9Pzc7?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">Cash-u Займы</h3><p class="align-middle"> ООО «Киберлэндинг», ОГРН: 1171690064920. Лицензия № 1803392008777. Юридический адрес: 420043, Казань, ул. Достоевского, дом 52, офис 3. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 365%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/p9hVVF?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/p9hVVF?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">Робот Займер</h3><p class="align-middle">ООО «Займер»; ОГРН 1134205019189. Лицензия № 651303532004088. Юридический адрес: 650000, Кемеровская обл., г. Кемерово, пр. Советский, д. 2/7. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 365,0%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/BfrNdh?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/BfrNdh?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">MoneyMan</h3><p class="align-middle">ООО МФК «Мани Мен»; ОГРН 1117746442670. Лицензия № 2110177000478. Юридический адрес: г. Москва, ул. Василисы Кожиной, д.1, офис Д13. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 365%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/2p3G8M?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/2p3G8M?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">Веб-займ</h3><p class="align-middle">ООО МКК «Веб-займ»; ОГРН 1112722004581. Лицензия № 2110827000326. Юридический адрес: 630099, г. Новосибирск, ул. Депутатская, д. 2, офис 60. Процентная ставка: минимальная годовая процентная ставка - 302,95%, максимальная годовая процентная ставка - 346,75%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/r4kWLg?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/r4kWLg?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">BelkaCredit</h3><p class="align-middle">ООО МКК «КапиталЪ-НТ»; ОГРН 1146623008707. Лицензия № 001603465007766. Юридический адрес: 443095, г. Самара, ул. Стара-Загора, д. 202А, офис 301. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 365,0%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://go.cityclub.finance/click-CQTNPB9O-HEBQCP89?bt=25&amp;tl=1&amp;sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://go.cityclub.finance/click-CQTNPB9O-HEBQCP89?bt=25&amp;tl=1&amp;sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">VIVA Деньги</h3><p class="align-middle">ООО МФК «ЦФП»; ОГРН 1117746890645. Лицензия № 2110177000840. Юридический адрес: 117218, г. Москва, ул. Кржижановского, д. 29, корп. 5, пом. I, ком. 10. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 365%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/FshhVq?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/FshhVq?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">Creditter</h3><p class="align-middle">ООО «Смартмани ру»; ОГРН 1157746290921. Лицензия № 651503045006429. Юридический адрес: 115280, г. Москва, ул. Ленинская слобода д. 19, строение 6. Процентная ставка: Годовая процентная ставка - 365%.</p></span></div></div></a><a class="adrurl" target="_blank" data-redirect-link="https://keitaro1.cityads.com/ZL2gmj?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" onclick="ym('52868086', 'reachGoal', 'JUMP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;" href="https://keitaro1.cityads.com/ZL2gmj?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default"><div class="col-md-6 col-xs-12 offers_all offers_ " style="border: 1px solid #eee;"><div class="mfo_info" style="min-height:220px;">

          <span class="align-items-center" style="padding-right:20px;"><h3 class="text-center" style="font-size:18px;">Credit7</h3><p class="align-middle">ООО МКК «КАППАДОКИЯ»; ОГРН 1197456052199. Лицензия № 1903475009492. Юридический адрес: 456770, Челябинская область, город Снежинск, улица Победы, дом 42, кв. 29. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 365,0%.</p></span></div></div></a></div><br><br>
          <div class="col-md-12 col-xs-12"><br><br>
              <h2>Общие условия и требования к заемщику</h2><br>
              <h3>Требования к заемщику:</h3><br>
  <ul><li>Возраст от 18 до 100 лет;</li><li>Постоянная прописка в любом регионе РФ</li>
  </ul><br>
  <h3>Условия получения:</h3><br>
  <p>Займ предоставляется минимум на срок 62 дня, максимум на срок 2 года (730 дней). Самая высокая (максимальная) годовая процентная ставка равняется 365%. Самая низкая (минимальная) 0%. Минимальная сумма займа равняется 500 рублям, максимальная сумма 300 000 рублей. Необходимо понимать, что при несвоевременном погашении займа будут назначены штрафные санкции со стороны кредитодателя, размер которых составляет около 0,1% от суммы кредита за каждый день неуплаты, в то же время данный штраф не может превышать 10% от общей суммы займа. В такой ситуации информация о заёмщике передается в БКИ.</p><br>
  <h3>Последствия невыплаты заёмных средств:</h3><br>
  <p>В случае невозвращения в условленный срок суммы кредита или суммы процентов за пользование заёмными средствами кредитор вынуждено начислит штраф за просрочку платежа. Большинство кредиторов идут на уступки и дают 3 дополнительных рабочих дня для оплаты. Они предусмотрены на случай, к примеру, если банковский перевод занял больше времени, чем обычно. Однако, в случае неполучения от Вас какой-либо реакции в течение продолжительного времени, будет начислен штраф за просрочку срока погашения размером в среднем 0,10% от первоначальной суммы для займов, 0,03% от суммы задолженности в среднем для потребительских кредитов и кредитных карт.</p><p>При несоблюдении Вами условий по погашению кредитов и займов, данные о Вас могут быть переданы в реестр должников, а задолженность - коллекторскому агентству для взыскания долга. О всех приближающихся сроках платежа кредитор своевременно информирует Вас по СМС или электронной почте. Рекомендуем Вам вносить платеж в день получения данных напоминаний. Погашая задолженность в срок, Вы формируете хорошую кредитную историю, что повышает Ваши шансы в дальнейшем получить кредит на более выгодных условиях. Предложение не является оффертой. Конечные условия уточняйте при прямом общении с кредиторами.</p><br>
  <h3>Информация о полной стоимости займа и пример расчета</h3><br>
  <p>Займ в размере 10 000 рублей выдан на 61 день с пролонгацией, перевод средств на банковский счёт с 0% комиссией за перевод, пролонгация срока займа 0% - бесплатно. В году 365 дней, по договору ставка составляет 1% в день (годовая ставка, соответственно будет равна 365%). Сумма процентов за год составляет 36 500 руб. (10 000*365% = 36 500), за 1 день 100 руб. (36 500/365 = 100), за 61 дней соответственно 6 100 руб. (100*61 = 6100). Общая сумма платежа составляет 16 100 руб. (10 000 руб. основной долг + 6 100 руб. проценты). Других комиссий - нет.<br>
  Минимальный срок погашения займа: 61 день;<br>
  Максимальный срок погашения займа: 365 дней.<br>
  ПСК (полная стоимость кредита) в процентах составляет 365% годовых.<br>
  Максимальная годовая процентная ставка, включающая ссудный процент, а также все остальные комиссии и расходы за год, или аналогичная ставка,
  </p></div>
      </div>
                      </div>



                  </div>

              </div>
          </div>
      </div>
      <div class="aft"></div><br>




  <footer id="footer" class="bem_footer">
      <div class="container">
          <div class="row bem_footer__content">
              <div class="col-md-12">
                  <div class="bem_footer__copy">

                  © 2021 Займ-за-минуту.рф — сервис подбора займов.<br>
                  ООО «Подбор Займов». г. Сочи, ул Чкалово, дом 70, БЦ «Вилла Орхидея»
  <br><br>
              Сайт НЕ является представительством МФО или банком, не выдает займов и кредитов. Персональные данные пользователей не собираются
              и не хранятся. Все рекомендуемые на сайте кредитные учреждения имеют соответствующие лицензии. Условия неуплаты можно уточнить на сайте МФО

                  </div>
              </div>
          </div>


      </div>
  </footer>

  <div class="notificate-wrapper ">
          <div class="notice-block action-5" style="display: block;">
              <div class="notice-close"></div>
              <a href="https://keitaro1.cityads.com/BfrNdh?sa=zaim-za-minutu_11_default&amp;sa2=default&amp;sa3=default&amp;sa4=default&amp;sa5=default" target="_blank" onclick="ym('52868086', 'reachGoal', 'POPUP');ga('send', 'event', 'Offer_click', 'jump', 'MYORDER');return true;">
                  <div class="notice-image">
                      <img src="/img/offers/banner-11.jpg" alt="">
                  </div>
                  <div class="notice-data">
                      <div class="notice-title">Первый займ от 0%!</div>
                      <div class="notice-text">Займ до 30 000 рублей.<br>Деньги на карте через минуту!</div>
                  </div>
              </a>
          </div>
      </div>


  <script language="javascript">
  $(document).ready(function() {
  $('.hide_me').on('click', function() {$($(this).attr("data-class")).hide(); $(this).show();} );

        $('.notice-close').on('click', function() {
          var $block = $(this).parent();
          $block.slideUp();
      });

  function sayHi() {
  $('.notice-block').show();
  }

  setTimeout(sayHi, 5000);

  });
  </script>

  </body></html>